
* {
    margin: 0;
    padding: 0;
}


#bgCover {
  /* background-color: red; */
  background-size: cover;
  background-position: center center;
  /* should i be using vh/vw for getting 'full' bg imgs? */
  height: 50em;
  animation-direction: 2s;
  /* display: flex; */

}

#bgCover > nav > a {
  color: white;
}




#bgCover > .left-aligned {
  margin-top: 15em;
}



.locations {
  margin: 0 0 3em 5em;
  /* margin-bottom: 3em; */
  /* margin-left: 1em; */
}

.weather {
  padding: 1em;
  width: 80em;
  border-radius: 1em;
  background-color: white;
  opacity: 0.5;
}
.weather .temp , .weather-extras {
  display: inline-block;

}
.weather .weather-extras {
  width: 60%;
  position: relative;
  bottom: 2.5em;
}

.weather h3 {
    font-size: 13em;
}

.weather-extras div {
  display: inline-block;
  width: 48%;
  text-align:center;
}

#wind-speed,  #humidity {
  display:inline;
}

.weather-extras h4, span {
  font-size: 2.5em;
  margin-bottom: 0;
}

.weather-extras .fa {
  font-size: 30px;
  margin-right: 10px;
}

/* .weather-extras span {
  font-size:
} */

/* .left-aligned .locations, .weather {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
} */
