
* {
    margin: 0;
    padding: 0;
}


#bgCover {
  /* background-color: red; */
  background-size: cover;
  background-position: center center;
  /* should i be using vh/vw for getting 'full' bg imgs? */
  /* height: 50em; */
  height: 100vh;
  animation-direction: 2s;
  /* display: flex; */

}

#bgCover > nav > a {
  color: white;
}

.locations > h1 {
  display: inline-block;
}




#bgCover > .left-aligned {
  margin-top: 7em;
}



.locations {
  margin: 0 0 3em 5em;
  /* margin-bottom: 3em; */
  /* margin-left: 1em; */
}

.weather {
  padding: 1em;
  width: 80em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: white;
  opacity: 0.5;
}
.weather .temp , .weather-extras {
  display: inline-block;

}
.weather .weather-extras {
  width: 60%;
  position: relative;
  bottom: 3em;
}

.weather h3 {
    font-size: 9em;
    cursor: pointer;
}

.weather-extras div {
  display: inline-block;
  width: 48%;
  text-align:center;
}

#wind-speed,  #humidity {
  display:inline;
}

.temp #temp-desc {
  text-align: center;
  font-size: 1.2em;
}

.weather-extras h4, span {
  font-size: 2.5em;
  margin-bottom: 0;
}

.weather-extras .fa {
  font-size: 30px;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer p {
  margin-top: 3em;
  color: white;
}


html, body

height: 100%;   /* ges Hoehe der Seite -> weitere Hoehenangaben werden relativ hierzu ausgewertet */
overflow: hidden;   /*  hide scrollbars */
opacity: 1.0;
-webkit-transition: background 1.5s linear;
-moz-transition: background 1.5s linear;
-o-transition: background 1.5s linear;
-ms-transition: background 1.5s linear;
transition: background 1.5s linear;
